body {
	.featured-videos::before {
		@media (max-width: 992px) {
			content: '';
			width: calc(100% - 32px);
			height: 1px;
			background-color: #e0e0e0;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.album-releases,
	.featured-videos {
		position: relative;
		margin: 40px 0;

		.featured-videos-container {
			h2 {
				@media (max-width: 992px) {
					margin: 40px 0;
				}
			}
		}

		.album-releases-container,
		.featured-videos-container {
			h2 {
				font-size: 18px;
				font-weight: 200;
				margin-bottom: 40px;
			}
		}
	}
}
