.product-container {
	position: relative;
	margin-top: 40px;
	padding: 0 20px;

	&::after {
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #e0e0e0;

		@media (max-width: 575px) {
			width: calc(100% - 16px);
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@media (min-width: 1199px) {
		max-width: 1170px;
	}

	.row {
		@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
		}

		.product-info-container {
			position: relative;

			@media (max-width: 767px) {
				order: 2;

				&::before {
					content: '';
					width: 100%;
					height: 1px;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #e0e0e0;
				}
			}

			.product-info-top {
				width: 100%;
				text-transform: uppercase;
				margin-bottom: 80px;

				@media (max-width: 991px) {
					margin-bottom: 60px;
				}

				@media (max-width: 767px) {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 40px;
					margin-bottom: 80px;
				}

				.product-name {
					font-size: 28px;
					font-weight: 900;
					margin-bottom: 30px;

					@media (max-width: 1198px) {
						font-size: 24px;
					}

					@media (max-width: 991px) {
						font-size: 20px;
						margin-bottom: 20px;
					}

					@media (max-width: 767px) {
						font-size: 24px;
						text-align: center;
					}

					@media (max-width: 575px) {
						font-size: 22px;
					}
				}

				.product-price {
					font-size: 16px;
					font-weight: 300;

					@media (max-width: 1198px) {
						font-size: 15px;
					}

					@media (max-width: 991px) {
						font-size: 14px;
					}

					@media (max-width: 767px) {
						font-size: 15px;
					}
				}
			}

			.product-info-bottom {
				width: 100%;

				@media (max-width: 767px) {
					margin-bottom: 20px;
				}

				.product-description-title {
					font-family: 'Oxanium', cursive;
					font-size: 18px;
					font-weight: 500;
					text-transform: uppercase;
					margin-bottom: 18px;

					@media (max-width: 1198px) {
						font-size: 16px;
					}

					@media (max-width: 991px) {
						font-size: 14px;
					}

					@media (max-width: 767px) {
						font-size: 18px;
						text-align: center;
					}

					@media (max-width: 575px) {
						font-size: 16px;
					}
				}

				.product-description-list {
					.list-group-item {
						margin-bottom: 20px;
						line-height: 1.5;
					}

					.list-group-item::before {
						content: '\f105';
						font-family: 'Font Awesome 5 Free';
						font-size: 14;
						font-weight: 900;
					}
				}

				.track-list {
					.list-group-item {
						margin-bottom: 10px;
					}

					.list-group-item::before {
						font-weight: 500;
					}

					.list-group-item:last-child {
						@media (max-width: 1198px) {
							margin-bottom: 40px;
						}

						@media (max-width: 767px) {
							margin-bottom: 20px;
						}
					}
				}

				.list-group {
					margin-left: 30px;

					@media (max-width: 767px) {
						margin-left: 0;
					}

					.list-group-item {
						font-size: 14px;
						font-weight: 300;
						text-transform: uppercase;
						border: none;
						padding: 0;

						@media (max-width: 1198px) {
							font-size: 13px;
						}

						@media (max-width: 991px) {
							font-size: 12px;
						}

						@media (max-width: 767px) {
							font-size: 13px;
							text-align: center;
						}

						@media (max-width: 767px) {
							font-size: 12px;
						}
					}

					.list-group-item::before {
						float: left;
						margin-left: -30px;

						@media (max-width: 767px) {
							float: unset;
							margin-left: unset;
							margin-right: 10px;
						}
					}
				}
			}
		}

		.product-photo-container {
			margin-bottom: 40px;

			.featured-img {
				width: 100%;
				object-fit: cover;
			}

			.thumbnail-img-container {
				display: flex;
				justify-content: center;

				.thumbnail-img {
					max-width: 60px;
					object-fit: cover;
					margin: 10px 5px 0;
					cursor: pointer;
					border: 1px solid #e0e0e0;
					opacity: 0.6;
					box-sizing: border-box;
				}

				.active {
					opacity: 1;
				}
			}
		}
	}
}

.related-product-cards-container {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0 20px;

	.related-product-header {
		font-size: 18px;
		font-weight: 200;
		margin-bottom: 40px;
	}
}
