header {
	position: sticky;
	top: 0;
	z-index: 60;

	.navbar {
		height: 75px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid #e0e0e0;
		box-sizing: border-box;

		@media (max-width: 992px) {
			flex-wrap: nowrap;
		}

		.container-fluid {
			display: flex;
			align-items: center;

			@media (max-width: 992px) {
				justify-content: space-between;
			}

			.main-nav {
				display: flex;
				align-items: center;
				flex-grow: 1;

				@media (max-width: 992px) {
					flex-direction: column;
					position: fixed;
					z-index: 100;
					top: 0;
					right: -40%;
					width: 40%;
					height: 100vh;
					overflow-y: scroll;
					background-color: $secondary-color;
				}

				@media (max-width: 768px) {
					right: -50%;
					width: 50%;
				}

				@media (max-width: 576px) {
					right: -100%;
					width: 100%;
				}

				&.active {
					right: 0;
				}
			}
		}
	}
}
