.artist-card {
	margin: 4px 0;
	padding: 0 4px;

	.card {
		&:hover {
			.card-body {
				display: none;

				@media (max-width: 992px) {
					display: flex;
				}
			}
		}

		img {
			width: 100%;
			height: 15vw;
			object-fit: cover;
			object-position: top;
			border: 1px solid #e0e0e0;

			@media (max-width: 1199px) {
				height: 20vw;
			}

			@media (max-width: 767px) {
				height: 30vw;
			}

			@media (max-width: 575px) {
				height: 50vw;
			}
		}

		.card-body {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(0, 0, 0, 0.7);
			color: $secondary-color;
			text-transform: uppercase;
			text-align: center;
			font-weight: 200;
			font-size: 14px;

			@media (max-width: 992px) {
				font-size: 13px;
			}

			@media (max-width: 767px) {
				font-size: 14px;
			}

			@media (max-width: 575px) {
				font-size: 16px;
			}
		}
	}
}

.product-card {
	display: flex;
	justify-content: center;
	padding: 0 15px;

	.card {
		justify-content: center;
		text-decoration: none;
		padding: 20px 20px 105px;

		@media (max-width: 991px) {
			padding: 10px 10px 105px;
		}

		@media (max-width: 576px) {
			padding: 20px;
		}

		&:hover {
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
		}

		.card-body {
			width: 100%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			color: $primary-color;
			text-transform: uppercase;
			text-align: center;
			padding: 5px 10px;

			@media (max-width: 575px) {
				position: unset;
				left: unset;
				top: unset;
				transform: unset;
			}

			.card-title {
				font-weight: 900;
				line-height: 1.25;
				margin-bottom: 10px;
			}

			.card-subtitle {
				font-weight: 300;
				margin-top: 0;
				margin-bottom: 10px;
			}

			.card-text {
				font-weight: 300;
			}
		}
	}
}

.merch-card {
	margin-bottom: 20px;

	.card-body {
		top: 335px;

		@media (max-width: 1198px) {
			top: 265px;
		}

		@media (max-width: 991px) {
			top: 332.344px;
		}

		@media (max-width: 767px) {
			top: 252.344px;
		}

		.card-title {
			font-size: 14px;

			@media (max-width: 1198px) {
				font-size: 13px;
			}

			@media (max-width: 767px) {
				font-size: 12px;
			}

			@media (max-width: 576px) {
				font-size: 14px;
			}
		}

		.card-subtitle {
			font-size: 12px;

			@media (max-width: 767px) {
				font-size: 11px;
			}

			@media (max-width: 576px) {
				font-size: 12px;
			}
		}

		.card-text {
			font-size: 12px;

			@media (max-width: 767px) {
				font-size: 11px;
			}

			@media (max-width: 576px) {
				font-size: 12px;
			}
		}
	}
}

.related-product-card {
	@media (max-width: 767px) {
		margin-bottom: 20px;
	}

	.card-body {
		top: 248.844px;

		@media (max-width: 1198px) {
			top: 196.344px;
		}

		@media (max-width: 991px) {
			top: 195px;
		}

		@media (max-width: 767px) {
			top: 222.344px;
		}

		.card-title {
			font-size: 14px;

			@media (max-width: 1198px) {
				font-size: 13px;
			}

			@media (max-width: 767px) {
				font-size: 12px;
			}

			@media (max-width: 576px) {
				font-size: 14px;
			}
		}

		.card-subtitle {
			font-size: 12px;

			@media (max-width: 767px) {
				font-size: 11px;
			}

			@media (max-width: 576px) {
				font-size: 12px;
			}
		}

		.card-text {
			font-size: 12px;

			@media (max-width: 767px) {
				font-size: 11px;
			}

			@media (max-width: 576px) {
				font-size: 12px;
			}
		}
	}
}

.album-card {
	padding: 6px;

	.card {
		text-decoration: none;

		&:hover {
			.card-body {
				display: flex;
			}
		}

		img {
			border: 1px solid #e0e0e0;
			box-sizing: border-box;
		}

		.card-body {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			text-transform: uppercase;
			padding: 20px;
			box-sizing: border-box;
			color: $secondary-color;
			background-color: rgba(0, 0, 0, 0.7);

			@media (max-width: 992px) {
				position: unset;
				display: flex;
				background-color: unset;
				color: $primary-color;
				padding: 10px;
			}

			.card-title {
				font-size: 16px;
				font-weight: 200;
				margin-bottom: 15px;

				@media (max-width: 992px) {
					height: 28px;
					font-size: 14px;
					margin-bottom: 10px;
				}

				@media (max-width: 767px) {
					height: unset;
					font-size: 14px;
				}

				@media (max-width: 575px) {
					font-size: 18px;
				}

				@media (max-width: 500px) {
					font-size: 16px;
				}
			}

			.card-subtitle {
				font-family: 'Oxanium', cursive;
				font-size: 12px;
				font-weight: 700;
				margin-top: 0;
				margin-bottom: 15px;

				@media (max-width: 992px) {
					height: 24px;
					font-size: 12px;
					margin-bottom: 10px;
				}

				@media (max-width: 767px) {
					height: unset;
					font-size: 12px;
				}

				@media (max-width: 575px) {
					font-size: 14px;
				}

				@media (max-width: 500px) {
					font-size: 12px;
				}
			}

			.card-text {
				font-size: 12px;
				font-weight: 200;
			}
		}
	}
}

.video-card {
	padding: 6px;

	.card {
		text-decoration: none;

		&:hover {
			cursor: pointer;

			.card-body {
				display: flex;
			}

			.fa-play-circle {
				display: none;

				@media (max-width: 992px) {
					display: flex;
				}
			}
		}

		img {
			width: 100%;
			border: 1px solid #e0e0e0;
			box-sizing: border-box;
		}

		.card-body {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 20px;
			box-sizing: border-box;
			text-transform: uppercase;
			text-align: center;
			color: $secondary-color;
			background-color: rgba(0, 0, 0, 0.7);

			@media (max-width: 992px) {
				position: unset;
				display: flex;
				background-color: unset;
				color: $primary-color;
				padding: 10px;
			}

			.card-title {
				font-size: 20px;
				font-weight: 200;
				margin-bottom: 20px;

				@media (max-width: 1100px) {
					font-size: 18px;
					margin-bottom: 15px;
				}

				@media (max-width: 992px) {
					font-size: 16px;
					margin-bottom: 10px;
				}

				@media (max-width: 767px) {
					font-size: 18px;
				}

				@media (max-width: 575px) {
					font-size: 16px;
				}
			}

			.card-text {
				font-family: 'Oxanium', cursive;
				font-size: 16px;
				font-weight: 700;

				@media (max-width: 1100px) {
					font-size: 14px;
				}

				@media (max-width: 992px) {
					font-size: 12px;
				}

				@media (max-width: 767px) {
					font-size: 14px;
				}

				@media (max-width: 575px) {
					font-size: 12px;
				}

				span {
					font-size: 14px;
					font-weight: 200;
					margin-top: 5px;

					@media (max-width: 1100px) {
						font-size: 12px;
					}

					@media (max-width: 992px) {
						font-size: 10px;
					}

					@media (max-width: 767px) {
						font-size: 12px;
					}

					@media (max-width: 575px) {
						font-size: 10px;
					}
				}
			}
		}
	}
}
