#contactModal,
#demoModal,
#streetTeamModal,
#cartModal {
	.modal-header {
		padding: 2rem 1rem 1rem;
		display: block;

		.btn-close {
			position: absolute;
			top: 6px;
			right: 6px;
		}
	}
}

#contactModal,
#demoModal,
#streetTeamModal {
	.modal-header {
		.contact-header,
		.demo-header,
		.street-team-header {
			font-size: 40px;
			font-weight: 900;

			@media (max-width: 576px) {
				font-size: 30px;
			}
		}
	}

	p {
		font-size: 14px;
		line-height: 1.5;
	}

	.modal-body {
		label {
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}

		input {
			font-size: 12px;
		}

		select {
			font-size: 12px;
		}

		textarea {
			font-size: 12px;
		}

		.button-container {
			@media (max-width: 768px) {
				justify-content: center !important;
			}
		}
	}
}

#cartModal {
	.modal-header {
		border-bottom: none;

		.cart-header {
			font-size: 32px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 200;

			@media (max-width: 1199px) {
				font-size: 28px;
			}

			@media (max-width: 991px) {
				font-size: 24px;
			}

			@media (max-width: 768px) {
				font-size: 22px;
			}

			@media (max-width: 576px) {
				font-size: 20px;
			}
		}
	}

	.modal-body {
		.cart-item {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			margin-bottom: 20px;
			padding: 12px;

			.cart-col {
				display: flex;
			}

			.item-image-col {
				img {
					width: 100%;
				}
			}

			.item-info-col {
				font-weight: 200;
				text-transform: uppercase;
				flex-direction: column;
				justify-content: center;

				.cart-item-artist {
					font-size: 18px;
					font-family: 'Montserrat', sans-serif;

					@media (max-width: 1199px) {
						font-size: 17px;
					}

					@media (max-width: 991px) {
						font-size: 15px;
					}

					@media (max-width: 575px) {
						font-size: 16px;
					}

					@media (max-width: 440px) {
						font-size: 13px;
					}
				}

				.cart-item-name {
					font-size: 16px;
					font-weight: 600;
					margin: 20px 0 19px;

					@media (max-width: 1199px) {
						font-size: 15px;
					}

					@media (max-width: 991px) {
						font-size: 13px;
						margin: 16px 0 15px;
					}

					@media (max-width: 575px) {
						font-size: 14px;
						margin: 10px 0 9px;
					}

					@media (max-width: 440px) {
						font-size: 11px;
					}

					.cart-item-sku {
						display: none;
					}
				}

				.cart-item-description {
					font-size: 15px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 200;

					@media (max-width: 1199px) {
						font-size: 14px;
					}

					@media (max-width: 991px) {
						font-size: 12px;
					}

					@media (max-width: 575px) {
						font-size: 13px;
					}

					@media (max-width: 440px) {
						font-size: 10px;
					}
				}
			}

			.item-quantity-col {
				font-weight: 200;
				justify-content: flex-end;
				align-items: center;

				@media (max-width: 991px) {
					flex-direction: column;
					justify-content: space-around;
					align-items: flex-end;
				}

				@media (max-width: 575px) {
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					margin-top: 40px;
					padding-left: 16px;
				}

				.quantity-select-container {
					position: relative;

					&::before {
						content: 'Qty';
						position: absolute;
						top: -6px;
						left: 6px;
						font-size: 10px;
						font-weight: 700;
						background-color: #fff;
						padding: 0 8px;
						z-index: 3;

						@media (max-width: 991px) {
							font-size: 9px;
						}

						@media (max-width: 575px) {
							font-size: 8px;
						}
					}

					.quantity-select {
						width: 75px;
						font-size: 18px;
						font-weight: 200;
						border: 1px solid rgba(116, 72, 72, 0.4);
						box-sizing: border-box;

						@media (max-width: 1199px) {
							font-size: 17px;
						}

						@media (max-width: 991px) {
							font-size: 15px;
						}

						@media (max-width: 575px) {
							font-size: 14px;
							width: 60px;
						}
					}
				}

				.cart-item-price {
					font-size: 18px;
					font-weight: 200;
					display: flex;
					align-items: center;

					@media (max-width: 1199px) {
						font-size: 17px;
					}

					&:before {
						content: 'x';
						font-size: 14px;
						font-weight: 700;
						margin: 0 16px;

						@media (max-width: 991px) {
							margin: 0 16px 0 0;
						}

						@media (max-width: 575px) {
							margin: 0 10px;
						}
					}
				}
			}

			.remove-btn-container {
				justify-content: flex-end;

				@media (max-width: 991px) {
					justify-content: center;
					margin-top: 40px;
				}

				@media (max-width: 575px) {
					justify-content: flex-end;
					padding-right: 16px;
				}

				.fa-times-circle {
					font-size: 20px;
					cursor: pointer;
					transition: color 0.3s;

					&:hover {
						color: $tertiary-color;
					}

					@media (max-width: 991px) {
						font-size: 16px;
					}

					@media (max-width: 575px) {
						font-size: 20px;
					}
				}
			}
		}
	}
}

.modal-footer {
	display: flex;
	justify-content: center;
	position: relative;
	padding: 2rem 1rem;

	&::before {
		content: '';
		width: calc(100% - 32px);
		height: 1px;
		background-color: #e0e0e0;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.cart-total-container {
		font-weight: 700;
		display: flex;
		justify-content: flex-end;

		@media (max-width: 575px) {
			justify-content: flex-start;
		}

		.cart-total {
			font-size: 18px;
		}

		.cart-total-number {
			font-weight: 200;
			margin-left: 16px;
		}
	}

	button {
		width: 50%;
		margin-top: 32px;

		@media (max-width: 991px) {
			width: 100%;
		}
	}
}
