#contactModal,
#demoModal,
#streetTeamModal {
	.modal-header {
		display: block;

		.contact-header,
		.demo-header,
		.street-team-header {
			font-family: 'Oxanium', cursive;
			font-size: 40px;
			font-weight: 900;
		}

		.btn-close {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}

	.modal-body {
		label {
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
		}

		input {
			font-size: 14px;
		}

		select {
			font-size: 14px;
		}

		textarea {
			font-size: 14px;
		}
	}
}

#modalVideoBMTH,
#modalVideoBO,
#modalVideoTGI,
#modalVideoTAS {
	.btn-close {
		z-index: 10;
		top: 5px;
		right: 5px;
	}
}

.modal-backdrop {
	opacity: 0.8 !important;
}
